.title {
    text-align: center;
    font-family: 'DeterminationFont';
    font-size: 60px;
    color: #fff;
    margin-top: 40vh;
}

.rain-effect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}